* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    min-height: 100vh;
    background: linear-gradient(135deg, #ffefba, #f8d800);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    margin-top: 150px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.video-item {
    width: 100%;
    max-width: 560px;
    position: relative;
}

iframe {
    width: 100%;
    height: 315px;
    position: relative;
    z-index: 2;
}

.video-placeholder {
    position: relative;
    display: block;
    width: 100%;
    height: 315px;
    background-color: #000;
    z-index: 999;
}

.video-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play-button-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68px;
    height: 48px;
    cursor: pointer;
    z-index: 3;
}

@media (max-width: 768px) {

    iframe,
    .video-placeholder {
        height: 200px;
    }

    .play-button-svg {
        width: 50px;
        height: 35px;
    }
}

@media (max-width: 480px) {

    iframe,
    .video-placeholder {
        height: 180px;
    }

    .play-button-svg {
        width: 40px;
        height: 28px;
    }
}


.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}


.avatar img {
    width: 1400px;
    height: 1400px;
    position: absolute;
    top: -510px;
    left: -595px;
    transform: scale(0.3);
    transform-origin: center;
}

.avatar-text {
    padding-top: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 12px;
    color: #333;
}